
.home {
    display: flex;
    height: 100%;
}

.column {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.main-content {
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    flex: 1;
}

app-sidebar{
    background-image: linear-gradient(180deg, #102B3A 0%, #119A9A 58%, #FF6B5F 125%);
}
