<div class="prelogin-form">
    <div class="logo_sm"><img src="assets/images/momenta/momenta-logo-horizontal.png"></div>
    <div class="mb-4 text-center">
        <h1 class="fs-5" style="margin-bottom: 15px;">Your account is locked <i class="banned bi bi-lock"></i></h1>
        <div class="send-email-text">
            <p class="mb-3">You are not authorized to login at this moment.</p>
            <p>If you believe this is an error or require further assistance, please contact our support team at 
                <a href="mailto:support&#64;momenta.app">support&#64;momenta.app</a>
            </p>
        </div>
    </div>
</div>