<div class="your-posts g-0">
    <div class="main-title">
        <h2>Received Moments</h2>
    </div>
    <hr class="solid-divider">
    <hr class="white-divider">
    @if(walls.length > 0){
        <div class="row walls gap-0">
            <div class="col-xxl-3 col-lg-4 col-md-6 hidden" *ngFor="let wall of walls; let i = index" #wallCard>
                <div class="card" (click)="openWall(wall)">
                    @if (wall.isNew) {
                        <div class="folded-corner">
                            <span>NEW</span>
                        </div>
                    }
                    <div class="card-img-top">
                        <div class="dropdown">
                            <button class="btn drop-down dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" (click)="$event.stopPropagation(); toggleDropdown(i)">
                                <i class="bi bi-three-dots"></i>
                            </button>
                            <ul class="dropdown-menu" (click)="$event.stopPropagation(); closeDropdown()" [class.show]="openDropdownIndex === i">
                                <li><a class="dropdown-item" (click)="copyLink(wall)"><i class="me-3 bi bi-link"></i>Copy Link</a></li>
                                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#shareModal" (click)="shareWall(wall)"><i class="me-3 bi bi-share-fill"></i>Share</a></li>
                                <li><a class="dropdown-item" (click)="downloadWall(wall)"><i class="me-3 bi bi-download"></i> Download</a></li>
                            </ul>
                        </div>
                        <img [src]="wall.theme?.bgImg || wall.bgImg" class="card-img-top">
                        <div class="fade"></div>
                    </div>
                    <div class="card-body">
                        <h2>{{ wall.title }}</h2>
                        <h4>{{ wall.type }}</h4>
                        <h6>
                            <span><i class="bi bi-clock"></i> Edited {{ dateTimeAgo[i] }}</span>
                            <span><i class="bi bi-people"></i> {{ wall.interactions }}</span>
                            <ng-container *ngIf="!isUserAllowed(wall); else nonReportedPosts">
                              <span><i class="bi bi-chat-square-text"></i> {{ wall.posts.nonArchivedNonReportedCount }}
                              post<span *ngIf="wall.posts.nonArchivedNonReportedCount > 1 || wall.posts.nonArchivedNonReportedCount == 0">s</span>
                              </span>
                            </ng-container>
                            <ng-template #nonReportedPosts>
                              <span><i class="bi bi-chat-square-text"></i> {{ wall.posts.nonArchivedCount }}
                              post<span *ngIf="wall.posts.nonArchivedCount > 1 || wall.posts.nonArchivedCount == 0">s</span>
                              </span>
                            </ng-template>    
                        </h6>
                    </div>
                    <div class="card-footer">
                        <app-user-replacer [email]="wall.ownerEmail" [datetime] = "wall.createdAt" [component]="'dashboard'"></app-user-replacer>
                        <div class="bookmark" (click)="$event.stopPropagation(); toggleStar(wall)">
                            <i class="bi" [ngClass]="wall.starred ? 'bi-star-fill' : 'bi-star'"></i>
                        </div>
                    </div>
                    <div class="custom-btn custom-btn-lg">
                        <h5>View Moment <i class="bi bi-arrow-right"></i></h5>
                    </div>
                </div>
            </div>
        </div>
    }@else {
        <div class="row">
            <div class="col no-posts">
                <div class="img-wrapper"><img src="assets/images/v3/no-posts.png"/></div>
                <h4>No moments received</h4>
                <h6>Moments received by you will appear here</h6>
            </div>
        </div>
    }

    @if (loading && walls.length > 0) {
        <div class="load-more col-12 text-center">
          <img src="assets/animation/loading.gif" alt="Loading"/>
        </div>
    }
</div>

<app-sharemodal [sharedWallUrl]="sharedWallUrl" [wallTitle]="wallTitle"></app-sharemodal>
